

/*第五部分*/
#bread-crumb{
    background-color: #F5F5F5;
    color:rgb(118,118,118);
}

#bread-crumb>ul{
    height: 36px;
    line-height:36px;
    margin-left: 65px;
}
#bread-crumb>ul>li{float: left;
    margin-right: 10px;
}
#bread-crumb a{
    color:rgb(118,118,118);
}
#bread-crumb a:hover{
    color:#333;
}

/*第六部分*/
#goods_information{
    background-color:#FFFFFF ;
    margin-top: 15px;
    margin-left:100px;
    height: 506px;
}

#goods_information>div.phone_picture{
    width: 550px;
    height: 506px;
    float: left;
    text-align: center;
}
#goods_information>div.phone_picture>div:first-child>img:first-child{
    border: 1px solid #ddd;
}
#goods_information>div.phone_picture>div{
    /*padding-left:50px;*/
}

#goods_information>div.phone_picture>div>i{
    padding:35px 7px;
    float: left;
    background: url(img-detail/left-1.png) no-repeat 0 30px;
}
#goods_information>div.phone_picture>div>i:last-child{
    background: url(img-detail/right-1.png) no-repeat 0 30px;
}

/*设置图片遮罩层效果*/
#mediumDiv{
    position: relative;
}
#mask{
    position: absolute;
    top:0;
    left:273px;
    width: 200px;
    height: 200px;
    background: #ffa;
    opacity: 0.2;
    display: none;
}
#superMask{
    position: absolute;
    top:0;
    left:74px;
    width: 400px;
    height: 400px;
    cursor: move;
    opacity: 0;

}


#largeDiv{
    position: absolute;
    top:228px;
    left:600px;
    width: 430px;
    height: 430px;
    border: 1px solid #ddd;
    display: none;
    z-index: 999;
    background-repeat: no-repeat;
}
#goods_information>div.phone_picture>div:last-child{
    padding-left: 38px;
}


#goods_information>div.phone_picture>div{
    overflow: hidden;
}
#goods_information>div.phone_picture>div>ul{
    float: left;
    overflow: hidden;
}
#goods_information>div.phone_picture>div>ul>li{
    float: left;
    padding:0 8px;
}
#goods_information>div.phone_picture>div>ul>li>img{
    border: 1px solid #E0E0E0;
    cursor: pointer;
}
#goods_information>div.phone_picture>div>ul img:hover{
    border: 1px solid red;
}

#goods_information_right{
    float:left;
    padding-top: 15px;

}
#goods_information_right>div>h2{
    font-weight: normal;
}
#goods_information_right>div>h3{
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}
#goods_information_right>div>p{
    color:#a94442 ;
    width: 620px;
    padding-bottom: 20px;
}
#goods_information_right>div>b{
    color:#fc6628;
    font-size:30px;
}
#goods_information_right>div:first-child{
    border-bottom: 1px solid  #EEEEEE;
    padding-bottom: 20px;

}
#goods_information_right>div:nth-child(2){
    margin-top: 10px;
}
#goods_information_right>div>div{
    margin-bottom: 20px;
}
#goods_information_right>div:nth-child(2)>div:first-child>i:nth-child(2){
    color: #fff;
    background-color: #fc6628;
    padding: 0 5px;
    font-style: normal;
}
#goods_information_right>div:nth-child(2)>div:first-child>i:nth-child(3){
    font-style: normal;
    padding:0 10px;
}
#goods_information_right>div>div>b{
    font-size: 15px;
    padding-right: 10px;
}
.choose{
    border: 1px solid #FC6628;
    font-weight: normal;
    font-size: 12px;
    padding:2px  5px;
    color:#FC6628 ;
}
#goods_information_right>div:nth-child(2)>div:nth-child(2)>a{
    border: 1px solid #d1d1d1 ;
    padding:2px  5px;
}
/*设置定时器样式*/
#time>span{
    color: #fff;
    background-color: #F01332;
    padding:3px 8px;
    margin-right: 5px;
    margin-left: 5px;

}
#time>b{
    font-weight: normal;
}


#goods_information_right>div:nth-child(3){
    margin-top: 30px;
}
#goods_information_right>div:nth-child(3)>input{
    color:#fff ;
    background-color:#EC4F0F ;
    border: none;
    font-size: 18px;
    padding:10px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}
#goods_information_right>div:nth-child(3)>span{
    cursor: pointer;
}
#goods_information_right>div:nth-child(3)>span>i{
    padding-left: 25px;
    font-style: normal;
    background: url("img-detail/ewm_s.png") no-repeat 0 0;
}
#goods_information_right>div:nth-child(3)>a{
    padding-left: 50px;
    padding-bottom: 10px;
    background: url(img-detail/heart_state1.png) no-repeat 16px 0;

}

/*设置扫描购买鼠标移入事件*/

#goods_information_right>div:last-child>span{
    overflow: hidden;
    position: relative;
}
#goods_information_right>div:last-child>span>b{
    padding: 0px 50px;
    position: absolute;
    top: -120px;
    left: -5px;
    background: url(img-detail/ewm_m.png) no-repeat 0 0;
    transition: padding 0.5s linear;
}
#goods_information_right>div:last-child>span:hover b{
    padding: 50px 50px;
}


/*第七部分*/
#goods_introduction{
    margin-top: 80px;
    background-color:#F5F5F5;
    overflow: hidden;
    text-align: center;
}
#goods_introduction>div.hot_sell{
    margin-left: 155px;
    float: left;
    background-color: #FFFFFF;

}
#goods_introduction>div.hot_sell>p{
    border-top:1px solid #DFDFDF ;
    border-bottom:1px solid #DFDFDF ;
    height: 50px;
    line-height: 50px;
}
#goods_introduction>div.hot_sell>dl{
    border-bottom:1px solid #DFDFDF ;
    padding-top: 30px;
    padding-bottom: 30px;
}
#goods_introduction>div.hot_sell>dl>dd{
    margin-left: 20px;
    margin-right: 20px;
}
#goods_introduction>div.hot_sell>dl>dd:nth-child(2){
    margin-top: 10px;
    margin-bottom: 15px;
}

#goods_introduction>div.parameter{
    float: left;
    padding-left: 20px;
}

/*设置产品介绍、规格参数、用户评价的切换*/
#goods_introduction div.parameter>div{
    display: none;
}


#goods_introduction div.parameter>div.active{
    display: block;
}
#goods_introduction div.parameter>ul>li>a.active{
    color:red;
}







div.parameter>ul{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}
div.parameter>div.goods>ul>li{
    margin-bottom: -4px;
}
#goods_introduction>div.parameter>ul>li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
#goods_introduction>div.parameter>ul>li>i{
    border: 1px solid #E3E3E3;
}
div.goods img{
    padding-bottom: -1px;
}
#goods_introduction div.specification{
    width: 750px;
    text-align:left;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
    padding-right: 10px;
    box-sizing: border-box;
}
#goods_introduction div.specification>ul>li:first-child{
    background-color: #F4F4F4;
   padding-left: 12px;

}
#goods_introduction div.specification>ul>li{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
}
#goods_introduction .specification>ul>li:not(:first-child){
    border-bottom: 1px solid #F4F4F4;
}
#goods_introduction div.specification>ul b{
    font-weight: 400;
    padding-left: 60px;
}
#goods_introduction div.specification>ul:first-child>li:nth-child(6){
    padding-left:27px;
}
#goods_introduction div.specification>ul:first-child>li:nth-child(7){
    padding-left:27px;
}
#goods_introduction div.specification>ul:nth-child(3)>li>b{
    padding-left: 41px;
}
#goods_introduction .specification>ul:nth-child(4)>li>b{
    padding-left:20px;
}
#goods_introduction div.specification>ul:nth-child(4)>li:nth-child(4){
    padding-left:30px;
}
#goods_introduction div.specification>ul:nth-child(4)>li:nth-child(5){
    padding-left:17px;
}
#goods_introduction .specification>ul:nth-child(5)>li>b{
    padding-left:66px;
}
#goods_introduction div.specification>ul:nth-child(5)>li:nth-child(5){
    padding-left:13px;

}
#goods_introduction div.specification>ul:nth-child(5)>li:nth-child(6){
    padding-left:13px;
}
#goods_introduction div.specification>ul:nth-child(6)>li:nth-child(7){
    padding-left:13px;
}
#goods_introduction div.specification>ul:nth-child(7)>li:nth-child(4){
    padding-left:13px;
}
#goods_introduction div.specification>ul:nth-child(7)>li:nth-child(5){
    padding-left:28px;
}
#goods_introduction div.specification>ul:nth-child(8)>li>b{
    padding-left:87px;
}
#goods_introduction div.specification>ul:nth-child(8)>li:nth-child(4)>b{
  padding-left:57px;
}
#goods_introduction div.specification>ul:nth-child(8)>li:nth-child(6)>b{
    padding-left:24px;
}
#goods_introduction div.specification>ul:last-child>li>b{
    padding-left: 50px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(3)>b{
    padding-left: 65px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(4)>b{
    padding-left: 5px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(5)>b{
    padding-left: 80px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(6)>b{
    padding-left: 67px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(7)>b{
    padding-left: 30px;
}
#goods_introduction div.specification>ul:last-child>li:nth-child(8)>b{
    padding-left: 65px;
}
/*用户评价*/
#goods_introduction div.evaluation{
    text-align: left;
    background-color: #fff;
    width: 750px;
    padding-top:50px;
    margin-bottom: 60px;
    padding-bottom:150px;
}
#goods_introduction div.evaluation>div{
   overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #F5F5F5;
}
#goods_introduction div.evaluation>div>div{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
#goods_introduction div.evaluation>div>div:first-child{
    padding-left: 41px;
}
#goods_introduction div.evaluation>div>div:first-child>b{
    font-size: 41px;
    font-weight: 400;
    color: #FC6628;
}
#goods_introduction div.evaluation>div>div:first-child>span{
    color: #FC6628;
    padding-left: 10px;
}
#goods_introduction div.evaluation>div>div:first-child>h6{
    font-weight: normal;
    line-height: 30px;
    padding-left: 18px;
}
#goods_introduction div.evaluation>div>div:first-child>p{
    color: #C6C6C6;
}
/*设置进度条*/
#goods_introduction div.evaluation>div>div.bar_box>dl{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
#goods_introduction div.evaluation>div>div.bar_box>dl>dd:nth-child(2){
    width: 230px;
    height:19px ;
    background-color: #F5F5F5;
    margin-right: 10px;
    margin-left: 10px;
}
#goods_introduction div.evaluation>div>div.bar_box>dl:first-child>dd:nth-child(2)>p{
    width: 98%;
    height:19px;
    background-color:#FC6628;
}
#goods_introduction div.evaluation>div>div.bar_box>dl:nth-child(2)>dd:nth-child(2)>p{
    width: 2%;
    height:19px;
    background-color:#FC6628;
}

/*评价简介*/
#goods_introduction ul.evaluation_summary{
  height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
}
#goods_introduction ul.evaluation_summary>li{
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;


}
#goods_introduction ul.evaluation_summary>li:not(:last-child)>a{
    padding-right: 37px;
    padding-left: 36px;
    border-right: 1px solid #CCCCCC;
}
.evaluation_summary_active{
   border-bottom: 1px solid red;
}
/*全部评价*/
#goods_introduction ul.evaluation_all>li{
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid #EEEEEE;
}
#goods_introduction ul.evaluation_all>li:first-child{
    border-top:none;
}
#goods_introduction ul.evaluation_all>li>div{
    float: left;
}
#goods_introduction ul.evaluation_all>li>div:first-child{
    width: 30%;
    padding-left: 28px;
    box-sizing: border-box;
}
#goods_introduction ul.evaluation_all>li>div:nth-child(2){
    width: 70%;
}
#goods_introduction ul.evaluation_all>li>div>span{
    padding-left: 10px;
}
#goods_introduction ul.evaluation_all>li>div>img{
    border-radius: 50%;
    vertical-align: middle;
}
#goods_introduction ul.evaluation_all>li>div>h6{
    line-height: 42px;
    padding-left: 47px;
    font-weight: normal;
    font-size: 15px;
}
#goods_introduction ul.evaluation_all>li>div>p{
    padding-left: 47px;
}
#goods_introduction ul.evaluation_all>li>div>p>span{
    color: #FC6628;
}
#goods_introduction ul.evaluation_all>li>div>p>b{
    font-weight: normal;
    padding-left: 5px;
}
#goods_introduction ul.evaluation_all>li>div:nth-child(2)>div{
    padding-left: 47px;
    padding-top: 15px;
}
#goods_introduction ul.evaluation_all>li>div:nth-child(2)>div>img{
    margin-right: 15px;
    padding: 5px;
    border: 1px solid #EEEEEE;
}
#goods_introduction div.next_index>a:not(:first-child){
    background-color: #F5F5F5;
}
#goods_introduction div.next_index>a:not(:last-child){
    padding-left: 10px;
    padding-right: 10px;
}
#goods_introduction div.next_index>a:first-child{
    background-color:#757575;
}
#goods_introduction div.next_index>a{
    padding-top:10px;
    padding-bottom: 5px;

}

/*产品咨询*/
#goods_introduction div.goods_service{
    background-color: #fff;
    padding-top: 20px;
    width: 750px;
}
#goods_introduction div.goods_service>span>input{
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
}
#goods_introduction div.goods_service>span>input:first-child{
    padding-left: 8px;
    border: 2px solid #F5F5F5;
    border-right: none;
    width: 260px;
}
#goods_introduction div.goods_service>span>input:nth-child(2){
    background-color:#ED651B;
    border:1px solid #ED651B;
    cursor: pointer;
    color: #FFFFFF;
}
#goods_introduction div.goods_service>div{
    text-align: left;
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
    padding-top: 16px;
    padding-left: 30px;
    padding-bottom: 35px;
}