/*设置通用样式*/
body{
    /*width: 1349px;*/
    width:100%;
    font-family: "microsoft yahei",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}
a {text-decoration: none;
    color: #333;}

h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd{
    margin:0;
    padding:0;
    list-style-type: none;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
/*设置网页布局，第一部分*/
#headertop{
    height: 40px;
    background-color: #F8F8F8;
    width: 100%;
}
#headertop>div{
    width: 92%;
    margin: 0 auto;
    overflow: auto;
}
#headertop ul{
    height: 40px;
}
#headertop ul.head-left{
    float: left;
}
#headertop ul.head-right{
    float: right;
}
#headertop ul>li{
    float: left;
	overflow:hidden;
}
#headertop ul>li>a{
    color: #787878;
    text-align: center;
    line-height:40px;
 }
#headertop ul>li>a:hover{
    color: black;
}
#headertop ul>li>b{

} 
/*设置导航中的竖线*/
#headertop b{
float:right;
padding:10px 5px;
text-align:center;
margin-top:10px;
margin-left:10px;
border-left:1px solid #000;}

/*第二部分设置搜索框*/
#search{
    height: 38px;
    width: 92%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-top:30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
#search>a:first-child{
    float: left;
}
#search>div
{
    float: left;
    margin-left: 380px;
}
#search>ul{
    float:right;
    position:relative;
}
#search>ul>li:first-child{
    border:1px solid #EDEDED;
    transition:background-color .3s linear ;
    position:relative;
    z-index: 100;

}
#search>ul:hover li:first-child{
    background-color:#fff;
    border-bottom: none;
}

#search>ul>li:nth-child(2){
    position: absolute;
    width: 210px;
    top:38px;
    left:-173px;
    background:#fff url(img/smile.png) no-repeat 251px 15px;
    border:1px solid #EDEDED;
    padding:15px 50px 15px 40px;
    z-index: 10;
    display: none;
}
#search>ul:hover li:nth-child(2){
     display: block;
 }

#search input{
    padding-left: 10px;
    padding-top:9px;
    padding-bottom: 9px;
    outline: none;
    width: 380px;
    margin: 0;
}
#search>div>button{
    padding: 23px 35px 14px 30px;
    background:#0086D1 url(img/Search.png) no-repeat 20px 10px;
     border: none;
    margin: 0;
    outline: none;
    cursor: pointer;
}
#search>ul{
    height: 38px;
    box-sizing: border-box;
}
#search>ul>li.shopping-cart{
    line-height: 38px;
    padding-left:40px;
    background: #F9C81D url(img/shopcart.png) no-repeat 15px 10px;

}
#search>ul>li.shopping-cart>a{
    padding-left: 15px;
    padding-right: 30px;
}
/*第三部分：导航设置*/
#nav{
    background-color: #0086D1;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
}
#nav>ul{
    height: 40px;
    box-sizing: border-box;
    width: 92%;
    margin: 0 auto;
}
#nav>ul>li{
    float: left;
margin-right: 35px;
}
#nav>ul>li.total-classify{
    width: 235px;
    color: #ffffff;
    padding-left: 20px;
    background:#2CB2FD url(img/fenlei_icon.png) no-repeat 230px 18px;
}
#nav>ul>li>a{
    color: #ffffff;
}
#nav>ul>li>a:hover{
    color:#f96734;
}
#nav>ul>li.new{
    position: relative;
}

#nav>ul>li.new>b{
    padding-left: 30px;
    padding-bottom: 16px;
    position: absolute;
    top: -5px;
    left: 0;
    background: url(img/new.png) no-repeat 0 0;
}
#nav>ul>li.hot{
    position: relative;
}
#nav>ul>li.hot>b{
    padding-left: 30px;
    padding-bottom: 16px;
    position: absolute;
    top: -5px;
    left: 0;
    background: url(img/hot.png) no-repeat 0 0;
}
#nav li.mover{
    float: left;
    position: relative;
}

#nav li.mover>div{
    float: left;
}
#nav li.mover>ul{
    float: left;
    position: absolute;
    z-index: 1001;
    top:40px;
    left: -679px;
    width: 1273px;
    background-color: #fff;
    padding-left: 75px;
    display: none;
}
#nav li.mover:hover ul{
    display: block;
}
#nav li.mover>ul>li{
    float:left;
    line-height: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: all .3s linear;
}
#nav li.mover>ul>li:hover{
    padding-top: 13px;
    padding-bottom: 17px;
}


#nav li.mover>ul>li dl>dt{

    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

#nav li.mover>ul>li:not(:last-child) dl>dt{
    border-right: 1px solid #D2D2D2;
}
#nav li.mover>div>a:hover{
    color:#f96734;
}
#nav li.mover>div>a{
    color: #ffffff;
}
#nav li.mover:hover div>a{
    color: #f96734;
}

#nav li.mover>ul>li dl>dd:nth-child(3){
    font-size:12px;
    color:#EA681A;
    font-weight: 900;
    padding-top: 6px;
}

#nav>ul>li.mover2>ul{
    top:40px;
    left: -778px;
    width: 1293px;
    background-color: #fff;
    padding-left: 53px;
}


#nav>ul>li.horn>b{
    background: url(img/horn.png) no-repeat 0 0;
   padding-left : 21px;
    padding-bottom: 40px;
    margin-left: 65px;

}
#nav>ul>li.horn{
    position: relative;
    overflow: hidden;
    width: 300px;
    margin-right:0;
}

#nav>ul>li.horn>ul{
    height:40px;
    line-height: 40px;
    width: 300px;
    position: absolute;
    top:0;
    left:89px;
    transition: top .3s linear;
}
#nav>ul>li.horn>ul a{
    color: #fff;
}
#nav>ul>li.horn>ul a:hover{
    color:#f96734;
}

/*第四部分：banner板块设置*/
#banner{
    width:100%;
    height:490px;
    overflow:hidden;
}
#banner>div{
    width:92%;
    margin: 0 auto;
    height:490px;
    position: relative;
}
#banner>div>ul{
    float: left;
    position:absolute;
    z-index: 1000;
    width: 255px;
    height: 490px;
    background-color: #F6F4EE;
}
#banner>div>ul>li{
    height: 70px;
    line-height: 35px;
    background: url(img/cbl_icon.png) no-repeat 190px 46px;
    position: relative;

    /*position: relative;*/
    padding-left:20px;
    z-index: 20;
}

#banner div.cate_box{
    position: absolute;
    z-index: 5;
    top:0;
    left:255px;
    background-color: #fff;
    width: 300px;
    height: 487px;
    display: none;
    box-sizing: border-box;
}
#banner>div>ul div.cate_box2{
    top:-68px;
}
#banner>div>ul div.cate_box3{
    top:-139px;
}
#banner>div>ul div.cate_box4{
    top:-208px;
}
#banner>div>ul div.cate_box5{
    top:-279px;
}
#banner>div>ul div.cate_box6{
    top:-348px;
}
#banner>div>ul div.cate_box7{
    top:-418px;
}



#banner>div>ul>li:hover div.cate_box{
    display:block;
}
#banner div.cate_box>ul{
    width: 300px;
    height: 487px;
    box-sizing: border-box;
}
#banner div.cate_box>ul>li>img{
   vertical-align: middle;
}
#banner div.cate_box>ul>li>a:hover{
    color:#f96734 ;
}
#banner div.cate_box>ul>li{
    width:150px ;
    float: left;
    padding-left: 15px;
    padding-top: 25px;
    box-sizing: border-box;
}
#banner>div>ul>li:hover{
    background-color: #fff;
}

#banner>div>ul>li>div:first-child>h3{
    color: #333;
    font-weight: normal;
}
#banner>div>ul>li>div:first-child>a{
    color: #999;
    padding-right: 10px;
}
#banner>div>div:nth-child(2){
    float: left;
    height: 490px;
    position: absolute;
    width: 2000px;
    top:0;
    left: -330px;
    z-index:10;
    overflow: hidden;
}
#banner>div>div:nth-child(2)>img{
    position: absolute;
    z-index: -1;
}
#banner>div>div:nth-child(2)>img.active{
    z-index: auto;
}
#scrollImg>ul>li.active{
    background: #0086D1;
}

#scrollImg>ul{
    overflow: hidden;
    position: absolute;
    z-index: 1005;
    left: 1300px;
    top:450px;
}
#scrollImg>ul>li{
    float: left;
    padding-left: 5px;
    padding-right: 6px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}



/*第五部分：blade A2等优惠活动*/
#discount-information{
    width: 95%;
    margin: 15px auto;
    padding-left: 47px;
}
#discount-information>a>img{
    margin-left: 8px;
}
/*第六部分：今日推荐*/
#present-recommend{
    width:92%;
    margin:0 auto;
    margin-bottom: 20px;
}
#present-recommend>div{
    height:40px;
    background-color: #F6F6F6;
    line-height: 40px;
    margin-bottom: 20px;
}
#present-recommend>div>b{
    padding: 9px 45px 9px 50px;
    color:#ffffff;
    font-size: 16px;
    background:#FC6628 url(img/juhui.png) no-repeat 15px 6px ;
}
#present-recommend>ul{
    height:308px ;
    text-align: center;
}

#present-recommend>ul>li{
    padding-top: 10px;
    width: 300px;
    height: 292px;
    float: left;
    border-right: 1px solid #D2D2D2;
    transition: padding-top 500ms linear;
}

#present-recommend>ul>li:hover{
    padding-top: 0;
}
#present-recommend>ul>li:last-child{
    border-right:none;

}
#present-recommend>ul>li>dl>dd:nth-child(2){
    margin: 20px 0 20px 0;
}
#present-recommend>ul>li>dl>dd:nth-child(3){
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 12px;
}
#present-recommend>ul>li b{
color: #FC6822;
}
#present-recommend>ul>li>dl>dd:nth-child(4)>a{
    background-color: #FF3B3C;
    padding: 5px 10px;
    color: #ffffff;
}
#present-recommend>ul>li>dl{
    position: relative;
}
#present-recommend>ul>li>dl>dd:nth-child(5){
    position: absolute;
    background-color:#1AE06E;
    padding: 14px 10px;
    top:0;
    left: 190px;
    border-radius: 50%;
    color: #ffffff;
}

/*第七部分：手机等主要商品信息*/
#main{
    /*width: 100%;*/
    margin-top: 50px;
    background-color: #F5F5F5;
}
#main>div{
    overflow: hidden;
    width: 100%;
}


#main>div>div:first-child{
    width: 92%;
    margin: 0 auto;
    height: 92px;
    line-height: 92px;
    box-sizing: border-box;
}
#main>div>div>h3{
    float: left;
    font-size: 22px;
    font-weight: normal;
    color: #333;
}

#main>div>div:first-child>ul>li>a:hover{
    color: #fc6628;
    font-weight: bold;
}

#main>div>div:first-child>ul{
    height: 92px;
    float: right;
}
#main>div>div:first-child>ul>li{
    float: left;
    font-size: 16px;
    margin-right: 20px;
}
#main>div>div:first-child>ul>li:last-child{
    margin-right:0;
    padding-right: 25px;
    background: url(img/look-all.png) no-repeat 68px 38px;
}

/*#main>div>ul:last-child{*/

#main>div>ul.all{
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
/* 新增 */
	padding-top:10px;
}

/*#main>div>ul:last-child>li{*/
 #main>div>ul.all>li{
    float: left;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    background-color: #FFFFFF;
	transition:all .2s linear;
}
/*#main>div>ul:last-child>li:hover{*/
#main>div>ul.all>li:hover{
box-shadow: 0 8px 16px #dddddd;
transform: translate(0px, -5px);
}
/*#main>div>ul:last-child>li>div{*/
#main>div>ul.all>li>div{
    padding-top: 15px;
}
/*#main>div>ul:last-child>li:first-child{*/
#main>div>ul.all>li:first-child{
   width: 610px;
}


/*#main>div>ul:last-child>li>div>a>dl>dd:nth-child(2){*/
#main>div>ul.all>li>div>a>dl>dd:nth-child(2){
    margin:15px 0;
}
/*#main>div>ul:last-child>li>div>a>dl>dd:nth-child(3){*/
#main>div>ul.all>li>div>a>dl>dd:nth-child(3){
    color: #b0b0b0;
    font-size: 12px;
    margin-bottom: 10px;
}
/*#main>div>ul:last-child>li>div>a>dl>dd:nth-child(4){*/
#main>div>ul.all>li>div>a>dl>dd:nth-child(4){
    color: #fc6822;
    font-weight: bold;
}
/*#main>div>ul:last-child>li>div>a>dl{*/
  #main>div>ul.all>li>div>a>dl{
    position: relative;
}
/*#main>div>ul:last-child>li>div>a>dl>dd:nth-child(5){*/
#main>div>ul.all>li>div>a>dl>dd:nth-child(5){
    border-bottom: 1px solid #E4E4E4;
    background-color: #FFCC19;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 10px 6px 9px 6px;
    border-radius: 50%;
    color: #FFFFFF;
}

#main>div.parts{
    /*position: relative;*/
    float: left;
}
#main>div.parts>ul{
    display:none;

}

#main>div.parts>ul.active{
    display: block;
}
#main>div.parts>div{
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 15px;
}
#main>div.parts>div>ul>li>a.active{
    border-bottom: 2px solid red;
    padding-bottom: 33px;

}

/*7.3智能硬件*/

#main>div.hardware>div{
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 15px;
}
#main>div.hardware>div>ul>li:first-child>a{
    padding-bottom: 33px;
    border-bottom: 2px solid #fc6628;
}
#main>div:last-child{
    width: 92%;
    margin: 0 auto;
}


/*第八部分*/
#footer{
    width: 92%;
    margin: 0 auto;
}
#footer>div:first-child>ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 1px solid #E4E4E4;
    padding: 35px 0;
}
#footer>div:first-child>ul>li{
    padding:15px 0 15px 65px;
    background: url(img/7.png) no-repeat;
}
#footer>div:first-child>ul>li:nth-child(2){
    background: url(img/30.png) no-repeat 0 0;
}
#footer>div:first-child>ul>li:nth-child(3){
    background: url(img/mian.png) no-repeat;
}
#footer>div:first-child>ul>li:nth-child(4){
    background: url(img/position.png) no-repeat;
}
#footer>div:nth-child(2){
    overflow: auto;
    border-bottom: 1px solid  #E4E4E4;
}
#footer>div:nth-child(2)>ul{
    float: left;
    margin: 30px 55px;
}
#footer>div:nth-child(2)>ul>li{
    margin-bottom: 20px;
    font-size: 16px;
}
#footer>div:nth-child(2)>ul>li>a{
    font-size:12px;
    color: #999;
}
#footer>div:nth-child(2)>ul>li>a:hover{
    color: #fc6628;
}

#footer>div:nth-child(2)>ul:last-child{
    margin-left: 235px;
}
#footer>div:nth-child(2)>ul:last-child>li:first-child{
    font-weight:bold;
    color:#0086d1;
    padding-top: 10px;
}
#footer>div:nth-child(2)>ul:last-child>li:nth-child(2){
    font-size:12px;
    color: #999;
}
#footer>div:nth-child(2)>ul:last-child>li:nth-child(3)>a{
    color: #FFFFFF;
    padding: 6px 15px 6px 30px;
    background:#0086d1 url(img/kefu.png) no-repeat 8px 7px;
}
#footer>div:nth-child(3){
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
#footer>div:nth-child(3) i{
    border: 1px solid #8C8C8C;
}
#footer>div:nth-child(3) a{
    padding-left: 5px;
}
#footer>div:nth-child(3) h5{
    color: #C2C2C2;
    font-weight: normal;
}
